
.slider{
    left: 0%;
    animation: slide 3s  ease;
    animation-delay: 3.5s;
}



@keyframes slide {
    from { 
        position: absolute;
        left: 60%;
        opacity: 1;
    }
    to {
        position: absolute;
        left:0%; 
        opacity: 1;
    }
        
}